<a href="https://colab.research.google.com/github/Sylwiaes/machine-learning-bootcamp/blob/main/01_pandas/01_pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* @author: krakowiakpawel9@gmail.com  
* @site: e-smartdata.org

### Pandas
>Strona biblioteki: [https://pandas.pydata.org/](https://pandas.pydata.org/)  
>Dokumentacja: [https://pandas.pydata.org/pandas-docs/stable/](https://pandas.pydata.org/pandas-docs/stable/)
>
>Podstawowa biblioteka do analizy danych w języku Python.
>
>Aby zainstalować bibliotekę Pandas użyj polecenia poniżej:
```
pip install pandas
```
### Spis treści:
1. [Podstawowe struktury danych: pd.Series](#a1)
2. [Podstawowe struktury danych: pd.DataFrame](#a2)
3. [Selekcja kolumn](#a3)

In [27]:
import pandas as pd
pd.__version__

'1.1.5'

### <a name='a1'></a>  Podstawowe struktury danych: pd.Series

In [4]:
s = pd.Series(data=[3, 2, 4, 6]) #obiekt typu Series w odróżnieniu od biblioteki numpy ma przypisane indeksy
s

0    3
1    2
2    4
3    6
dtype: int64

In [6]:
s = pd.Series(data=[3, 2, 4, 6], index=['a', 'b', 'c', 'd'], name='sample') #podajemy listę z indeksami
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [7]:
s = pd.Series(data=[3., 2, 4, 6], index=['a', 'b', 'c', 'd'], name='sample') #jeśli jedna wartość jest przekazana jako typ float, to typ danych równiez jest przekazany jako float
s

a    3.0
b    2.0
c    4.0
d    6.0
Name: sample, dtype: float64

In [9]:
import numpy as np

s = pd.Series(data=[3., np.nan, 4, 6], index=['a', 'b', 'c', 'd'], name='sample') #biblioteka numpy pozwala na wstawianie braków danych
#do obliczenia średniej wartość NaN nie jest brana pod uwagę
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [11]:
s = pd.Series(data=[True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [18]:
s = pd.Series(data=np.arange(10, 20), index=pd.date_range(start='20200101', periods=10)) #przekazujemy dane przy pomocy biblioteki numpy
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [19]:
list(s.index)

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [20]:
s.dtypes

dtype('int64')

In [21]:
s = pd.Series(data=['python', 'java', 'sql'], name='languages')
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [22]:
type(s)

pandas.core.series.Series

Atrybuty obiektu Series

In [ ]:
s.index #atrybut typu index

RangeIndex(start=0, stop=3, step=1)

In [23]:
s.values #atrybut wartości

array(['python', 'java', 'sql'], dtype=object)

In [24]:
s.dtypes #podaje typ danych; tekst zwraca typ danych jako 'O'

dtype('O')

In [25]:
s.shape

(3,)

In [29]:
price = pd.Series(data={'Apple': 200, 'CD Projekt': 60, 'Amazon': 1900})
price

Apple          200
CD Projekt      60
Amazon        1900
dtype: int64

In [30]:
price['CD Projekt'] #wycinanie indeksu

60

In [31]:
price[1] #wycinanie indeksu

60

In [32]:
price.count() #zlicza elementy w obiekcie typu Series; funkcja nie zlicza braków danych

3

In [33]:
price.value_counts(dropna=False) #zlicza rozkład danych; dropna jesli False, to bierzemy pod uwagę Nan

60      1
1900    1
200     1
dtype: int64

In [34]:
price.sum() #sumuje wartości

2160

In [35]:
price.min()

60

In [36]:
price.max()

1900

In [37]:
price.std()

1024.3046421841502

In [38]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [39]:
price.nlargest(2) #najlepsze 2 elementy w zależności od ceny

Amazon    1900
Apple      200
dtype: int64

In [40]:
price.nsmallest(2) #najmniejsze wartości w zależności od ceny

CD Projekt     60
Apple         200
dtype: int64

In [41]:
price.rank() #pozwala zwrócić ranking każdego elementu i porządkuje obiekt

Apple         2.0
CD Projekt    1.0
Amazon        3.0
dtype: float64

In [42]:
price.sort_values() #sortuje wartości domyślnie w sposób rosnący

CD Projekt      60
Apple          200
Amazon        1900
dtype: int64

In [43]:
price.sort_values(ascending=False) #parametr ascending pozwala na sortowanie malejąco

Amazon        1900
Apple          200
CD Projekt      60
dtype: int64

In [48]:
price_pln = price.apply(lambda x: x * 3.8) #metoda apply konwertuje dane, przekazujemy funkcję, która pomnoży wszystkie elementy z 3.8

In [50]:
price_pln

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
dtype: float64

### <a name='a2'></a>  Podstawowe struktury danych: pd.DataFrame

In [51]:
df = pd.DataFrame(data=[12, 12, 32])
df

    0
0  12
1  12
2  32

In [52]:
df = pd.DataFrame(data=[12, 12, 32], index=['first', 'second', 'third'], columns=['col_1']) #index-wiersze, columns-kolumny
df

        col_1
first      12
second     12
third      32

In [53]:
df = pd.DataFrame(data={'WIG20': ['PKN ORLEN', 'PKO BP'],
                        'mWIG40': ['Amica', 'Playway']})
df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [54]:
df = pd.DataFrame(data=[[10, 12, 13], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [55]:
df.columns #pozwala na wyświetlenie atrybutów kolumn

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [56]:
df.index

Index(['first', 'second'], dtype='object')

In [58]:
df.values

array([[10, 12, 13],
       [23, 12, 10]])

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 64.0+ bytes

In [60]:
df.describe()

           col_1  col_2     col_3
count   2.000000    2.0   2.00000
mean   16.500000   12.0  11.50000
std     9.192388    0.0   2.12132
min    10.000000   12.0  10.00000
25%    13.250000   12.0  10.75000
50%    16.500000   12.0  11.50000
75%    19.750000   12.0  12.25000
max    23.000000   12.0  13.00000

In [61]:
df.describe().T

       count  mean       std   min    25%   50%    75%   max
col_1    2.0  16.5  9.192388  10.0  13.25  16.5  19.75  23.0
col_2    2.0  12.0  0.000000  12.0  12.00  12.0  12.00  12.0
col_3    2.0  11.5  2.121320  10.0  10.75  11.5  12.25  13.0

### <a name='a3'> </a> Selekcja kolumn

In [62]:
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [63]:
df['col_1'] #wycinanie 1 kolumny, zostanie zwrócony typ Series

first     10
second    23
Name: col_1, dtype: int64

In [64]:
type(df['col_1']) #obiekt typu DF składa się z obiektów typu Series

pandas.core.series.Series

In [65]:
df[['col_1']] #wycinanie kolumny i otrzymanie obiektu DF

        col_1
first      10
second     23

In [66]:
type(df[['col_1']])

pandas.core.frame.DataFrame

In [69]:
df.columns = ['a', 'sprzedaz_grudzien', 'c'] #zmieniamy nazwy kolumn
df

         a  sprzedaz_grudzien   c
first   10                 12  13
second  23                 12  10

In [70]:
df.sprzedaz_grudzien #aby dostać się do konkretnej kolumny, używamy atrybutu

first     12
second    12
Name: sprzedaz_grudzien, dtype: int64

In [72]:
df['d'] = df.a + df.c #dodanie nowej kolumny
df

         a  sprzedaz_grudzien   c   d
first   10                 12  13  23
second  23                 12  10  33

In [73]:
df = pd.DataFrame(data=[[10, 12, 13], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [76]:
df.loc['first'] #pozwala wycinać obiekty po nazwach

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [77]:
df.loc['first', 'col_2']

12

In [78]:
df.loc[:, 'col_2'] #wycinamy wszystkie indeksy i kolumnę 2

first     12
second    12
Name: col_2, dtype: int64

In [79]:
df.iloc[0] #w przypadku, gdy chcemy wyciąć indeks numeryczny

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [80]:
df.iloc[0, 1]

12